/*
*
* @autor Lucas Mendes Gabriel
* @version 0.1
*/

html, body{

	height: 100%;
}

/*===WELCOME===*/


.welcome-capa {

	margin-top: 20px;
	text-align: center;
	
}

.welcome-capa img {

	width: 400px;
	border-radius: 50%;
	border: 10px solid 	#222;


}



/*===BARRA DE NAVEÇÃO==*/

.navbar {
	border-bottom: none;
	min-height: 80px;
	padding-top: 15px;
}


/*===CABEÇALHOS===*/

.cabecalho_index {

	margin-top: 80px;
	width: 100%;
	height: 300px;
	background-image: url("../img/cabecalho_index.jpg");	
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


.cabecalho_biography {

	margin-top: 80px;
	width: 100%;
	height: 300px;
	background-image: url("../img/cabecalho_biography.jpg");
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}

.cabecalho_discography {

	margin-top: 80px;
	width: 100%;
	height: 300px;
	background-image: url("../img/cabecalho_discography.jpg");	
	background-repeat: no-repeat;
	background-size: cover;
	background-position:50% 35%;
	position: relative;

}

.cabecalho_contact {

	margin-top: 80px;
	width: 100%;
	height: 300px;
	background-image: url("../img/cabecalho_contact.jpg");	
	background-repeat: no-repeat;
	background-size: cover;
	background-position:50% 35%;
	position: relative;

}

/*RODAPÉ*/

.rodape {
	
    margin-top: 50px;
	background: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   

}

/*HOME PAGE*/

.conteudo-home {

	margin-top: 20px;
}

.conteudo-texto img {

	width: 600px;
}


/*BIOGRAPHY*/

.quotes {

	font-family: 'Staatliches', cursive;
	font-size: 50px;
	font-style: italic;
	text-align: center;
	padding: 45px 0px;

}

.ultima-foto .img-responsive {

	display: block;
	margin: 0 auto;
}

.texto-bio {
	display: flex;
	align-items: center;
}


/*DISCOGRAPHY*/

#disco-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.disco-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	background-color: #dedede;
    width: 90vw;
	padding: 30px;
    
}

.disco-row img {
    width: 300px;
    margin-right: 30px;
}

.disco-row2 {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	background-color: white;
    width: 90vw;
	padding: 30px; 
}

.disco-row2 img {
    width: 300px;
    margin-left: 30px;
}


/*===========TIPOGRAFIA==========*/

.welcome-capa h1 {

	font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 50px;
	color: #222;

}

.welcome-capa a {

	text-decoration: none;
}

.welcome-capa h3 {

	font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 30px;
	color: #222;
}



.navbar-inverse .navbar-brand {

	
	font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 40px;

	}


.navbar-inverse .navbar-brand {
    color: #fa8666;
    transition: color 0.3s;
}

.navbar-inverse .navbar-brand:hover {
    color: white;
    transition: color 0.3s;
}

.navbar-inverse .navbar-nav>li>a {

	font-family: 'Staatliches', cursive;
	font-size: 23px;
	font-weight: 700;
	color: #fa8666;

}

.navbar-inverse .navbar-nav>li>a:hover {

	font-weight: 700;
	color: white;

}


.cabecalho_index>h1, .cabecalho_biography>h1, .cabecalho_discography>h1, .cabecalho_contact>h1 {

	font-family: 'Staatliches', cursive;
	font-size: 50px;
	font-style: italic;
	position: absolute;
	bottom: 5px;
	right: 15px;
	color: #fff;
	text-align: right;
	background: rgba(0,0,0, 0.4);
	background-size: cover;
}

.conteudo-texto>h1 {

	font-family: 'Staatliches', cursive;
	font-size: 60px;
}

.conteudo-texto>h3 {

	font-family: 'Staatliches', cursive;
	font-size: 30px;
}

.conteudo-texto p {

	font-family: 'Slabo 27px', serif;
	font-size: 23px;
	padding: 4px;
}


#logo-rodape {

	font-family: 'Staatliches', cursive;
	font-size: 35px;
	color: #fa8666;
    transition: 0.3s;
    text-decoration: none;

}

#logo-rodape:hover {

	font-family: 'Staatliches', cursive;
	font-size: 35px;
	color: #fff;
    transition: 0.3s;
    text-decoration: none;

}

#copyright {

	font-family: 'Questrial', sans-serif;
	font-size: 15px;
	color: white;
	
}

.album-info h2 {

	font-family: 'Staatliches', cursive;
	font-size: 60px;
	color: #fa8666;
	font-style: italic;
}

.album-info h4  {

 	font-family: 'Staatliches', cursive;
	font-size: 2em;
}

.album-info2 h2 {

	font-family: 'Staatliches', cursive;
	font-size: 60px;
	color: #fa8666;
	font-style: italic;
}

.album-info2 h4  {

 	font-family: 'Staatliches', cursive;
	font-size: 2em;
}

.email h1 {

	font-family: 'Staatliches', cursive;
	font-size: 60px;

}

.email {

	text-align: center;
	font-family: 'Slabo 27px', serif;
	font-size: 30px;

}

/*=====================MEDIA QUERIES====================*/

/*========Welcome Page=========*/




@media screen and (max-width: 780px) {

	.welcome-capa img {

	width: 200px;
	border-radius: 50%;
	border: 5px solid 	#222;

}

	.welcome-capa h1 {

	font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 30px;
	color: #222;
	margin-top: 50px;
	margin-bottom: 50px;

}

	.welcome-capa h1 {

	margin-bottom: 20px;
}


}



@media screen and (max-width: 780px) {
    
    /*========CABEÇALHOS=========*/

.cabecalho_index, .cabecalho_biography, .cabecalho_discography, .cabecalho_contact  {

	height: 110px;

}

.cabecalho_index>h1 {

	font-size: 25px;

}

.cabecalho_biography>h1 {

	
	font-size: 20px;
}

.cabecalho_discography>h1 {

	font-size: 20px;

}

.cabecalho_contact>h1 {

	font-size: 20px;

}

/*=========HOME==========*/

.conteudo-texto img {

	margin-top: 15px;
}

.conteudo-texto p {

	margin-top: 20px;
}

/*=========BIOGRAPHY==========*/

.texto-bio {

	margin-top: 15px;
}



/*=========DISCOGRAPHY==========*/
    
.disco-row {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: #dedede;
    width: 90vw;
	padding: 30px;
    text-align: center; 
    
}
    

.disco-row img {
    margin-right: 0px;
}

.disco-row2 {
	display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
	background-color: white;
    width: 90vw;
	padding: 30px;
    text-align: center;
}

.disco-row2 img {
    margin-left: 0px;
}


.disco-row img {

	width: 200px;
}

.album-info h2 {

	font-size: 26px;
}

.album-info h4 {

	font-size: 19px;
}

.disco-row2 img {

	width: 200px;
}

.album-info2  {
	
	font-size: 26px;
}

.album-info2 h2 {

	font-size: 23px;
}

.album-info2 h4 {

	font-size: 19px;
}
    
    

/*=========CONTACT==========*/

.email {

	padding: 0px 30px;
	font-size: 20px;
}

/*=========RODAPÉ==========*/

#logo-rodape {

font-size: 30px;

}
    
#logo-rodape:hover {

font-size: 30px;

}

#copyright {
font-size: 12px;
}



}

@media screen and (min-width: 780px) and (max-width: 850px) {
    
    #swordfish {
        font-size: 40px;
    }
}
